# - .vscode except launch.json & settings.json
.vscode/*
!.vscode/launch.json
!.vscode/settings.json

# - Build files: public/assets/
public/assets/app*.js
public/assets/app*.css

# - Test coverage
coverage/

# - Firebase cache
.firebase/

# - google application credentials!
.gac.json

# - dotenv
.env

# - Logs
logs
*.log

# - mac
.DS_Store
