# - .vscode except launch.json
!.vscode/*
# !.vscode/launch.json

# - Build files: public/assets/
public/assets/app*.js
public/assets/app*.css

# - Firebase
# Firebase cache
.firebase/
# Firebase config
# Uncomment this if you'd like others to create their own Firebase project.
# For a team working on the same Firebase project(s), it is recommended to leave
# it commented so all members can deploy to the same project(s) in .firebaserc.
# .firebaserc

# - dotenv
.env

# - Logs
logs
*.log

# from aleph.js
.DS_Store
Thumbs.db
.aleph/
dist/
